body{
    width:100%;
}
/*HONE PAGE*/
header{
    color: #fff;
    text-align: center;
    height: 50px;
}
header h2{
    font-size: 50px;
    color: crimson;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

/*ABOUT PAGE*/
.abt{
    height: 100px;
    text-align: center;
    font-size: 50px;
    color: crimson;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    margin-top: -200px;
    padding-top: 25px;
}

footer small{
    background-color: crimson;
    font-size: 25px;
}